.todo_container{
    border:2px solid;
    width: 600px;
    justify-content: space-between;
    padding: 10px;
}

.todoList{
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

}